<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Let me in</title>
  </head>
  <body>
  <form action="/sesame" method="post">
    <input type="text" name="code" />
    <input type="submit" value="Let me in"/>
  </form>
  </body>
</html>
